.sidebar-option{
    display: flex;
    align-items: center;
    font-size: 12px;
    padding-left: 2px;
    cursor: pointer;
}
.sidebar-option:hover {
    background-color: #340e36;
    opacity: 0.9;
}

.sidebar-option__icon {
    padding: 10px;
    font-size: 18px !important;
}
.sidebar-option__channel {
    padding: 10px 0;
}
.sidebar-option__hash{
    padding: 10px;
}

.sidebar-option > h3 {
    font-weight: 500;
}